%p 
  Conference 
  %b= @conference
  = "#{@action_taken}, #{h @target} should be ringing."

%p 
  Send others the link 
  - link = "http://confme.com/join/#{@conference}"
  %a{:href => link}= link
  to have them join

%form
  %fieldset
    %legend Conference Controls
    %ul
      %li 
        Mute: 
        %b  0
      %li 
        Deaf &amp; Mute:
        %b  *
      %li 
        Talk Volume Up:
        %b  3
      %li 
        Talk Volume Zero:
        %b  2
      %li 
        Talk Volume Down:
        %b  1
      %li 
        Listen Volume Up:
        %b  6
      %li 
        Listen Volume Zero:
        %b  5
      %li 
        Listen Volume Down:
        %b  4
      %li 
        Hangup
        %b  #
